apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: khazana-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: khazana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: khazana
  template:
    metadata:
      labels:
        app: khazana
    spec:
      containers:
        - name: khazana
          image: postgres:16
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: demo
            - name: POSTGRES_USER
              value: demo
            - name: POSTGRES_PASSWORD
              value: demo
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: khazana-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: khazana
spec:
  selector:
    app: khazana
  ports:
    - port: 5432
      targetPort: 5432
